<!DOCTYPE html>
<html>
  <head>
    <title>Sporty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3 links">
        <%= link_to 'Memories', new_memory_path %>
      </div>
    </header>

    <hr />

    <br class="clear" />
  

    <%= yield %>

  </body>
</html>
